.heading {
    text-align: center;
  }
  
  .food-table {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  tr {
    padding: 10px;
  }
  
  th {
    background-color: rgb(184, 180, 180);
  }
  
  tr:nth-child(odd) {
    background-color: rgb(241, 235, 235);
  }
  
  td,
  th {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
  }