<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Edit Ingredient</h2>
      <%= render 'form', recipe_food: @recipe_food %>
      <div class="d-flex justify-content-between align-items-center mt-4">
      </div>
    </div>
  </div>
</div>